:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: "Inter", sans-serif;
    --botao-azul-efeito: #498ee2;
}

body {
    background-color: var(--cor-de-fundo);
    color: white;
    font-family:  var(--font-principal);
    font-size: 1em;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
height: 100vh;
display: grid;
grid-template-columns: 50% 50%;
box-sizing: border-box;

}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagen{
    margin: 1em 0 2em 0;
}

.container__botao{
    display: block;
    border-radius: 5px;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 1em;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.botao__aviso{
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.secundario {
    margin: 0 10em;
    align-items: center;
   
}

.secundario__imagen{
width: 80%;
}

.container__titulo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.container__conteudo{
    color: var(--cinza-secundario);
    
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    margin-bottom: 10em;
}

.dispositivos__titulo{
    font-size: 3em;
    color: var(--branco-principal);  
    margin-top: 5em; 
    margin-bottom: 1em;
}

.rodape{
        text-align: center;
        margin: 5em 3em;
    
}

.rodape__logo{
    display: block;
    margin: auto;
    margin-top: 25px;
}

.rodape__lista{
        display: flex;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        
}

.lista__link {
    font-size: 1em;
    margin: 2em 1em;

}   

.lista__link > a:hover {
    color: var(--botao-azul);
}

.lista__link > a:active {
    color: blueviolet;
}

.lista__link > a {
        color: var(--branco-principal);
        text-decoration: none;
        
}

.rodape__texto__um{
    text-align: center;
    margin: 2em;
    font-size: 14px;
    color: var(--cinza-secundario);

}

.rodape__texto__dois{
    text-align: center;
    margin: 2em;
    margin-bottom: 8em;
    font-size: 14px;
    color: var(--cinza-secundario);

}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}